<div class="container" style="min-height: 65vh">
    <div class="row">
        <h2 class="my-4">{{title}}</h2>
    </div>
        <p>{{message}}</p>
        <a href="/login" class="btn btn-primary">Iniciar Sesion</a>
        <a href="/register" class="btn btn-primary">Registrarte</a>
    </div>