<div class="container" style="min-height: 65vh">
    <div class="row">
        <h2 class="my-4">{{title}}</h2>
    </div>
    <div class="row">
        <form id="login-form">
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>

            <!-- el Mnesaje  aparece si hay error -->
            <div id="error-message" class="row my-4 text-danger"></div>

            <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
        </form>
    </div>
    <div class="row my-4">
        <a href="/register">Registrar</a>
    </div>
</div>

