<div class="container" style="min-height: 65vh">
    <div class="row">
        <h2 class="my-4">Mi Cuenta</h2>
    </div>
    <div>
        <p><strong>Nombre:</strong> {{user.first_name}}</p>
        <p><strong>Apellido:</strong> {{user.last_name}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Edad:</strong> {{user.age}}</p>
    </div>
    <div>
        <button id="logout-btn" class="btn btn-danger">Cerrar Sesion</button>
    </div>
</div>