<div class="container" style="min-height: 65vh">
    <div class="row">
        <h2 class="my-4">{{title}}</h2>
    </div>
    <div class="row">
        
        <form id="register-form">
            <div class="mb-3">
                <label for="first_name" class="form-label">Nombre:</label>
                <input type="text" class="form-control" name="first_name" id="first_name" required>
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Apellido:</label>
                <input type="text" class="form-control" name="last_name" id="last_name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Edad:</label>
                <input type="number" class="form-control" name="age" id="age" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
             <!-- el Mnesaje  aparece si hay error -->
            <div id="error-message-reg" class="row my-4 text-danger"></div>
            
            <button class="btn btn-primary" type="submit">Registrar</button>
        </form>
    </div>

    <div class="row my-4">
        <a href="/login">Iniciar Sesion</a>
    </div>
</div>

